################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GCBot/.vs/GCBot/v16/Server/sqlite3/db.lock
